<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.anodsplace.headunit.roadrover">

    <application
        android:name="info.anodsplace.headunit.roadrover.App"
        android:hardwareAccelerated="true"
        android:label="Roadrover Headunit">

        <activity
            android:name=".Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver android:name=".BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
