<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.anodsplace.roadrover">

    <application
        android:hardwareAccelerated="true"
        android:label="Roadrover Headunit">

        <activity
            android:name=".Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service android:name=".AppService" />

        <receiver android:name=".ConnectedReceiver" android:exported="true">
            <intent-filter>
                <action android:name="info.anodsplace.info.headunit.ACTION_CONNECTED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
